body {
    background-color: green;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* .container {
    background-color: whitesmoke;
    display: none;
    padding: 100px;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    color: black;
    position: relative;
} */

.card-heart {
  
    color: red;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    widht:400px;
}

.top-left-heart {

    display: flex;
    justify-content: start;
}

.top-right-heart {

    display: flex;
    justify-content: end;


}

.center-number-heart {
    display: flex;
    justify-content: center;
    align-items: center;


}

.card-diamond {
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 24px;
    display: none;

}

.card-club {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 24px;
    display: none;

}

.card-spade {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 24px;
    display: none;

}